<ion-view view-title="{{item.name}}">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-25">
        <img ng-src="{{item.icon||'img/default_app_icon.png'}}" style="width: 100%; height: 100%">
      </div>
      <div class="col col-50">
        <p style="font-size: 20px;font-weight:400;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding:6px 0">{{item.name}}</p>
        <!-- <h4>{{item.name}}</h4> -->
        <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{item.author}}</p>
      </div>
      <div class="col col-25 col-center text-center">
        <div ng-show="!isDownloading">
          <div ng-show="!isDownloadComplete && !canOpenApp" ng-click="downloadApp(item.id, item.name)">
            <a class="button button-calm">下载</a>
          </div>
          <div ng-show="isDownloadComplete || canOpenApp" ng-click="openApp(item.id)">
            <a class="button button-calm">打开</a>
          </div>
        </div>
        <div ng-show="isDownloading">
          <div data-radial-indicator="{radius : 26, percentage :true,barColor : '#87CEEB', initValue: 0}" data-radial-indicator-model="indicatorValue"></div>
        </div>
      </div>
    </div>

    <!-- <div class="button-bar bar-light padding-bottom">
      <a class="button" ng-class="{true:'button-dark'}[selectedTab == 0]" ng-click="selectedTab=0">详情</a>
      <a class="button" ng-class="{true:'button-dark'}[selectedTab == 1]" ng-click="selectedTab=1">评论</a>
      <a class="button" ng-class="{true:'button-dark'}[selectedTab == 2]" ng-click="selectedTab=2">相关</a>
    </div> -->

    <div ng-if="selectedTab==0">
      <ion-slide-box class=" padding-bottom" active-slide="screenshotsSlide">
        <ion-slide ng-repeat="screenshot in item.screenshots" style="width: 40%;height: auto;">
          <div><img ng-src="{{screenshot}}" style="width: 100%;height: 100%;"></div>
        </ion-slide>
      </ion-slide-box>

      <div class="split-line-top">
        <h4>内容提要</h4>
        <p class="padding-left">{{item.description}}</p>
      </div>

      <div class="split-line-top">
        <h4>信息</h4>
        <div class="row">
          <div class="col col-25 grey text-right">
            开发者
          </div>
          <div class="col col-75">
            {{item.author}}
          </div>
        </div>
        <div class="row">
          <div class="col col-25 grey text-right">
            类型
          </div>
          <div class="col col-75">
            {{item.type}}
          </div>
        </div>
        <div class="row">
          <div class="col col-25 grey text-right">
            版本号
          </div>
          <div class="col col-75">
            {{item.version}}
          </div>
        </div>
        <div class="row">
          <div class="col col-25 grey text-right">
            更新日期
          </div>
          <div class="col col-75">
            {{item.updatedTime}}
          </div>
        </div>
        <div class="row">
          <div class="col col-25 grey text-right">
            发布日期
          </div>
          <div class="col col-75">
            {{item.createdTime}}
          </div>
        </div>
        <div class="row">
          <div class="col col-25 grey text-right">
            大小
          </div>
          <div class="col col-75">
            {{(item.size / 1024).toFixed(2)}}KB
          </div>
        </div>
        <div class="row">
          <div class="col col-25 grey text-right">
            兼容性
          </div>
          <div class="col col-75">
            需要Otaku! {{item.needVersion}} 以上版本
          </div>
        </div>
      </div>
    </div>

    <div ng-if="selectedTab==1">
      <h2>评论</h2>
    </div>

    <div ng-if="selectedTab==2">
      <h2>相关</h2>
    </div>
  </ion-content>
</ion-view>
