/* Empty. Add your own CSS if you like */
.split-line-top{
  border-top: 1px #b4b4b4 solid;
}

.grey{
  color: #888888;
}

/*
进度条
*/
.progressBar .bar-unfill {
  height:15px;
  display:block;
  background:#fff;
  width:100%;
  border-radius:8px
}

.progressBar .bar-fill {
  height:15px;
  display:block;
  background:#45c9a5;
  width:0;
  border-radius:8px;
  -webkit-transition:width .8s ease;
  -moz-transition:width .8s ease;
  transition:width .8s ease;
}

.cube-img-wrap{
    width: 60%; /* 这里设置占屏幕宽度百分比 */
    margin: 0 auto; 
}

/* 创建一个正方形容器 */
.cube-img-container{
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    overflow:hidden;
    margin: 0;
    position:relative;
}

/* 采用绝对定位 */
.cube-img-wrap img{
    position:absolute;
    width: 100%;
    height: 100%;
}